/* latin */
@font-face {
    font-family: 'Tangerine';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/tangerine/v15/IurY6Y5j_oScZZow4VOxCZZM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    font-family: 'Tangerine', serif;
    font-size: 45px;
    height: 100vh;
}
.container {
    position: relative;
}
.container .word {
    text-transform: uppercase;
    letter-spacing: -3px;
}
.container .word span, .container .split {
    color: #333;
}
.container .word span, .container .split{
    animation: animate 1s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
    0% {
        color: #333;
    }
    100% {
        color: #fff;
    }
}
.container .split {
    padding: 0 10px;
}
/*.container .cursor {*/
/*    animation: flicker .8s ease-out infinite;*/
/*}*/
/*@keyframes flicker {*/
/*    0% {*/
/*       display: block;*/
/*    }*/
/*    100% {*/
/*        display: none;*/
/*    }*/
/*}*/